[Desktop Entry]
Type=Menu
Name[en_US]=MPD
Name[en]=MPD
Name[C]=MPD
ItemsList=285e0103-3685-4165-9521-1ea57566bca6;e294e3a4-d288-4ae8-980c-630f30af0e87;
Icon[en_US]=emblem-music-symbolic
Icon[en]=emblem-music-symbolic
Icon[C]=emblem-music-symbolic
